/* .product-img {
    width: 170px;
    height: auto;
} */

.product-container {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(0, 128, 128, 0.472);
}

.product-description {
    margin-bottom: 40px;
    font-size: 14px;
    color: #555;
}

.product-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
}
